.bg-light {
    background-color: #8fbdf1 !important;
    height: 8%
}

.card {
    border-color: #8fbdf1
}

.card-header {
    background-color: #8fbdf1;
    text-decoration-color: blue
}

.jumbotron {
    align-items: right;
    background-color: #8fbdf1;
}