.bg-light {
    background-color: #157df5 !important;
    height: 9%
}

/* Barra de navegador*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #157df5;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}



li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #388dee;
    color: white;
}

.active {
    background-color: #086fe4;
    border-color: #eff14c;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*Fin barra navegador*/
.container {
    margin-block-start: 5%
}



#cartajurado {

    border-color: #157df5;
    border-width: 2px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
    padding-top: 0px;
    width: 20rem;
}

.card-header {
    background-color: #157df5;
    color: white
}



#jumboblue {
    background-color: #157df5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    border-color: #086fe4;
    border-width: 50px;
    color: white;
    margin-left: 1%;
    border-left: 1px;
}

#jumbogrisclaro {
    background-color: #67a0e293;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

#jumbogris {
    background-color: #3d4044;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    border-color: #086fe4;
    border-width: 50px;
    color: white;
    margin-left: 1%;
    border-left: 1px;
}



#postit {
    border-color: yellow;
    background-color: #eff14c !important;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    margin-block-start: 15%;
    margin-left: 7%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#postitheader {
    background-color: #f8fc2f !important;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pie {
    padding-bottom: 0%;
}

.fa-thumbtack {
    color: red;

}

#busqueda {
    width: 10%;
    margin-bottom: 1%;
}

body {
    background-color: #eaf3f7
        /* Color original sin nubes #f3f0f0 */
    ;
}

@include media-breakpoint-up(xs) {
    ...
}

@include media-breakpoint-up(sm) {
    ...
}

@include media-breakpoint-up(md) {
    ...
}

@include media-breakpoint-up(lg) {
    ...
}

@include media-breakpoint-up(xl) {
    ...
}

@include media-breakpoint-up(sm) {
    .some-class {
        display: block;
    }
}




* {
    box-sizing: border-box;
}

/* ------------------------------------------TIMELINE ------------------

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.containerx {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.containerx::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .containerx {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .containerx::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/* ---------------- TIMELINE FIN ---------------

/* ------------- FLIP CARD -----------

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

/* ---------- FLIP CARD FIN  ------ */


/*-- PRUEBA ANIMADA */




/*- El color del cielo es #8ec1d9    -*/
.animate {
    background-image: url('/images/clouds.png');
    background-position: -400px 10px;
    background-repeat: no-repeat;
    animation: animated 4s linear infinite;
    -webkit-animation: animated 32s linear infinite;
    width: 100%;
    max-width: 100%;
    height: 280px;
    margin: 0%
}


@keyframes animated {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 50% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@-webkit-keyframes animated {

    0% {
        background-position: 100px 120px, -400px 10px, 0 0;
    }

    50% {
        background-position: 100px 100px, -400px 10px, 50% 0;
    }

    100% {
        background-position: 100px 120px, 700px 10px, 100% 0;
    }

}