<!doctype html>
<html>
<!-- Navegador-->
<link href="css/style.css" rel="stylesheet">

<head>
    <meta charset="uft-8" />
    <title>Jurado Alvarez</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fas fa-home"></i>  Jurado Alvarez </a>
            <a class="navbar-brand" href="#!/dex"><i class="fas fa-grip-horizontal"></i> Controller </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#!/info"><i class="fas fa-info"></i>nfo
                            <span class="sr-only">(current)</span>
                        </a>
                </ul>
            </div>

    </nav>
    </br>
    </br>
    </br>
</body>
<!-- Navegador-->
<h1>Dex</h1>
<table class="table table-bordered table-striped sortable" id=divtab>
    <thead>
        <tr>
            <th onclick="sortTable(0)">Tipo</th>
            <th onclick="sortTable(1)">Nombre</th>
            <th onclick="sortTable(2)">Texto</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><select class="form-control" ng-model="newDex.tipo">
                    <option value="Estudios">Estudios</option>
                    <option value="Idioma">Idioma</option>
                    <option value="Programacion">Programación</option>
                    <option value="Otros">Otros</option>
                </select>
            </td>
            <td><input class="form-control" type="" ng-model="newDex.nombre" /></td>
            <td><input class="form-control" type="" ng-model="newDex.texto" /></td>
            <td><input class="form-control" type="" ng-model="newDex.anyo" /></td>
            <td><button class="button btn-success" ng-click="addDex()">
                    Add
                </button></td>
        </tr>
        <tr ng-repeat="dex in dexTotal">
            <td><a href="/#!/dex/{{dex.tipo}}/{{dex.nombre}}">{{dex.tipo}}</a></td>
            <td>{{dex.nombre}}</td>
            <td>{{dex.texto}}</td>
            <td>{{dex.anyo}}</td>
            <td><button class="button btn-danger" ng-click="deleteDex(dex.tipo, dex.nombre)">Delete</button></td>
        </tr>
        <tr>
            <td><button class="button btn-info" ng-click="getPageBack()">Back</button></td>
            <td><button class="button btn-info" ng-click="getPageNext()">Next</button></td>
            <td><button class="button btn-danger" ng-click="deleteAll()">Delete All</button></td>
            <td><button class="button btn-primary" ng-click="fillTable()">Fill Table</button></td>
        </tr>

</table>


<footer class="py-3 bg-light">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Jurado Alvarez</p>
    </div>
</footer>


</tbody>