<!doctype html>
<html>
<link href="css/style.css" rel="stylesheet">

<head>
  <meta charset="uft-8" />
  <title>Jurado Alvarez</title>
</head>
<!-- Menu de arriba-->

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Jurado Alvarez</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          <li class="nav-item active">
            <a class="nav-link" href="#!/about">About
              <span class="sr-only">(current)</span>
            </a>

        </ul>
      </div>
    </div>
  </nav>
  </br>
  </br>
  </br>

  <div class="card" style="width: 20rem;" id="personal">
    <img class="card-img-top" src="/images/jurado.png" alt="Card image cap">
    <div class="card-header">
      <center>Jose Manuel Jurado Alvarez</center>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>

    </div>
  </div>



  <div class="container">
    <header class="jumbotron my-4">
      <h1 class="display-6">Estudios</h1>
      <hr class="my-1">
      </br>

      <body ng-app="App" ng-controller="portadacontroller">
        <element ng-repeat="n in dexTotal |filter: 'Estudios' "> {{n.nombre}},
          {{n.texto}} <br></element>
      </body>

    </header>

  </div>
  <div class="container">
    <header class="jumbotron my-4">
      <h1 class="display-6">Idiomas</h1>
      <hr class="my-1">
      </br>

      <body ng-app="App" ng-controller="portadacontroller">
        <element ng-repeat="x in dexTotal | filter:'Idioma'"> {{x.nombre}},
          {{x.texto}} <br> </element>
      </body>
    </header>

  </div>







</html>